includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 7
    paths:
        - src
        - tests

    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert#'
        - '#Dynamic call to static method PHPUnit\\Framework\\TestCase#'
        - '#assertInstanceOf\(\) expects class-string\<object\>\, string given#'
        - '#ProgressHandler\:\:handle\(\) expects callable#'
        - '#Method LittleCubicleGames\\Quests\\Progress\\ProgressHandler::handle\(\) has parameter \$event with no typehint specified.#'
